.container {
	margin: 20px auto;
	width: 1000px;
}
.img-container {
	max-width: 300px;
	max-height: 300px;
	min-width: 300px;
	min-height: 300px;
	display: inline-block;
	overflow: hidden;
}
#newPink {
	width: 300px;
}
#pinkbar {
	background-color: #FF64C8;
}